@model InventoryWeb.Core.Models.Domains.ProductsBase


<h2 class="text-center">Dodaj Produkt</h2>
<form id="saveFormProd" method="post">
    <div class=" text-center border rounded-2 border-dark">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <div class="form-group m-2">
            <div class="d-flex justify-content-center">
                <label asp-for="Code" class="control-label" style="color:darkred">Zeskanuj kod lub wpisz ręcznie</label>
            </div>
            @Html.LabelFor(x => x.Code)
            @Html.TextBoxFor(x => x.Code, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.Code, "", new { @class = "text-danger" })
        </div>
        <div class="form-group m-2">
            @Html.LabelFor(x => x.NameProductDb)
            @Html.TextBoxFor(x => x.NameProductDb, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.NameProductDb, "", new { @class = "text-danger" })
        </div>
        <div class="form-group m-2">
            @Html.LabelFor(x => x.EachPrice)
            @Html.TextBoxFor(x => x.EachPrice, new { @class = "form-control" })
        </div>
        <div class="d-flex justify-content-center m-2">
            <button type="button" id="addDb" class="btn btn-primary btn">Dodaj</button>
        </div>
    </div>
</form>