@model InventoryWeb.Core.ViewModels.ProductsDbViewModel


<div id="productsBaseTable">
    <table class="table  text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kod</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.ProductsBase.Any())
            {
                foreach (var products in Model.ProductsBase)
                {
                    <tr>
                        <td>
                            @products.Id
                        </td>
                        <td>
                            @products.Code
                        </td>
                        <td>
                            @products.NameProductDb
                        </td>
                        <td>
                            @products.EachPrice
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="@("#EditProdBaseModal-" + products.Id)" data-url="@Url.Action($"EditProductBase/{products.Id}")">
                                Edytuj
                            </button>
                            @await Html.PartialAsync("_EditProductBase", products)
                            <button class="btn btn-danger btn-sm"
                                    onclick="deleteProduct('@products.Id', this)">
                                Usuń
                            </button>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="6">
                        Brak produktów!
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
