@model IEnumerable<InventoryWeb.Core.Models.Domains.Inventory>


<div id="InventoryTable">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal" data-whatever="">Nowa Inwentaryzacja </button>
    <a type="button" class="btn btn-secondary" asp-controller="Unit" asp-action="Unit">Jednostki</a>
    <a type="button" class="btn btn-secondary" asp-controller="ProductsBase" asp-action="ProductsDb">Baza Produktów</a>
    <table class="table mt-3 table-bordered  text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nazwa inwentarza</th>
                <th scope="col">Firma</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var inventory in Model)
                {
                    <tr>
                        <td>
                            <a class="title-container text-center w-100 h-100" data-inventory-id="@inventory.Id" onclick="window.location.href = '@Url.Action("InventoryPreview", "Inventory", inventory)'" style="cursor: pointer;">
                                <div class="title-overlay font-weight-bold">
                                    @inventory.Name
                                </div>
                            </a>
                        </td>
                        <td>
                            @inventory.Company
                        </td>
                        <td>
                            @inventory.Date
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm"
                                    onclick="deleteInventory('@inventory.Id', this)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="6">
                        Brak inwentaryzacji do wyświetlenia!
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
